# Intellij project files
*.iml
*.ipr
*.iws

# Eclipse project folders 
.classpath
.project
.settings

# Maven output folder
target

# Lein created files/folders
lib
classes
pom.xml

# closure default output folder
out

# Binary files
*.exe
*.dll
*.so*
*.dll
*.class
*.jar
*.war

# OSX index files
.DS_Store

# this projects build artifact
livereload
